/.DS_Store
/.ipynb_checkpoints
/tstutorial.ipynb
/RPS/.ipynb_checkpoints
/RPS/__pycache__
projects/BookRecommEngKNN/book-crossings/BX-Book-Ratings.csv
.gitignore
projects/BookRecommEngKNN/book-crossings/BX-Users.csv
.gitignore
projects/BookRecommEngKNN/book-crossings.zip
